{
  "language": "ruby",
  "os": [
    "linux"
  ],
  "dist": "xenial",
  "sudo": true,
  "services": [
    "docker"
  ],
  "before_install": [
    "docker build -t astro/ccs-mmwave --file docker/Dockerfile.ccs.mmwave.ubuntu18 .",
    "docker run -d -p 127.0.0.1:80:4567 astro/ccs-mmwave /bin/sh -c \"ls;\"",
    "docker ps -a",
    "docker run astro/ccs-mmwave"
  ],
  "script": [
    "ls"
  ]
}
