# Setting Travis CI for Continuous Integration Setting

sudo: required

services:
  - docker

before_install:
  - docker build -t astro/ccs-mmwave --file docker/Dockerfile.ccs.mmwave.ubuntu18 .
  - docker run -d -p 127.0.0.1:80:4567 astro/ccs-mmwave /bin/sh -c "ls;"
  - docker ps -a
  - docker run astro/ccs-mmwave
  
#install:
  #- docker build -t Dockerfile.ccs.mmwave .
  #- docker build --target ccs-mmwave --tag ccs-mmwave:latest --file Dockerfile.ccs.mmwave.ubuntu18 .
  #- docker build -t Dockerfile.ccs.mmwave.ubuntu18 .

script:
  #- docker run -ti -v ccs_test /bin/bash
  #- sudo docker run --net=host  --cap-add=NET_ADMIN --device /dev/net/tun:/dev/net/tun -it ccs-mmwave
   - ls
  # - eclipse -noSplash -data ./workspace -application com.ti.ccstudio.apps.projectCreate -ccs.name lrr_dss.projectspec -ccs.device AWR1843
  # - eclipse -noSplash -data ./workspace -application com.ti.ccstudio.apps.projectCreate -ccs.name lrr_mss.projectspec -ccs.device AWR1843

